---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";
@import "assets/prose.scss";

/* CSS */
:root, body { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root, body { font-family: 'Inter var', sans-serif; }
}

body {
    background-color: #F5F5F4;//#FAFAF9;
    color: #292524;
}

.site-title {
    font-family:'Courier New', Courier, monospace;
}


.wrapper {
    max-width: 1200px;
}

.prose {
    max-width: inherit;
}

table {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
}
thead th {
    background-color: #CCCCCC;
    border: solid 1px #CCCCCC;
    padding: 10px;
    text-align: left;
}
table td {
    border: solid 1px #CCCCCC;
    padding: 10px;
}

.post-content a {
    font-weight: bold;
}

dt {
    font-weight: bold;
}

article pre {
    overflow-x: auto;
    max-width: 100%;
    min-width: 0;
}

div.toc ul {
    margin-left: 0;
    li {
        list-style-type: none;
        margin: 0.5rem 0;
        padding-left: 1.5rem;
        position: relative;

        &::before {
            content: "–";
            position: absolute;
            left: 0;
        }
    }
}

#post-toc-sidebar {
    display: none;
}

main {
    background: #ffffff;
}

@media screen and (min-width: 1000px) {
    main {
        background: none;
    }
    div.page-with-toc {
        display: flex;
        flex-direction: row-reverse;

        nav {
            flex: none;
            width: 350px;
            div.toc {
                padding: 2rem 3rem 2rem 0;
                position: sticky;
                top: 0;
            }
        }
        article { 
            background: #ffffff;
            padding: 2rem 1.5rem;
            min-width: 0;
            flex: 1 1 auto;
        }
    }
    
    #post-toc-inline {
        display: none;
    }
    #post-toc-sidebar {
        display: block;
    }
}
