---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";


.wrapper {
    max-width: 1200px;
}

.prose {
    max-width: inherit;
}

table {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
}
thead th {
    background-color: #CCCCCC;
    border: solid 1px #CCCCCC;
    padding: 10px;
    text-align: left;
}
table td {
    border: solid 1px #CCCCCC;
    padding: 10px;
}

.post-content a {
    font-weight: bold;
}

dt {
    font-weight: bold;
}

article pre {
    overflow-x: auto;
    max-width: 100%;
    min-width: 0;
}

@media screen and (min-width: 1000px) {
    div.page-with-toc {
        display: flex;
        flex-direction: row-reverse;

        nav {
            flex: none;
            width: 300px;
            div.toc {
                padding: 2rem 2rem 2rem 0;
                position: sticky;
                top: 0;
            }
        }
        article { 
            padding: 1rem 0;
            min-width: 0;
            flex: 1 1 auto;
        }
    }
    
    #post-toc-inline {
        display: none;
    }
}
    
