.prose {
    line-height: 1.75;

    h2 {
        border-top: solid 1px #D6D3D1;
        margin-top: 3rem;
        padding-top: 2rem;
        font-weight: 500;
    }
    
    h3 {
        margin-top: 2rem;
    }
    
    h4 { margin-top: 2rem; }
    
}

